*{
    margin:0;
    padding:0;
}
body{
    width: 1500px;
    position: absolute;
  /*  background-image: url("background.jpg") ;*/
}
.container{

    width: 900px;
    height: 450px;
    margin:50px;
    position: relative;
    border: 30px solid rgb(59, 59, 59);
     background-image: linear-gradient(14deg, green 30%, white 40% , green 30% ); 
    /* background-image: url("weg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom ;
   background-position: right; */
 
}
.score{
    font-size: 40px;
    color: red;
    position: relative;
   left: 400px;
   top: 100px;
}
.poort{
    display: flex;
    position: absolute;
    top: 5px;
left: 200px;
}
.left{
    width: 100px;
    height: 200px;
    transform: skew(0deg, -20deg);
    position: relative;
    top: 89px;
    background-color: grey;
    border: 5px double rgb(60, 60, 60);
    z-index: 4;
}
.right{
    width: 100px;
    height: 200px;
    transform: skew(0deg, -20deg);
    position: relative;
    top: 50px;
    background-color: grey;
    border: 5px double rgb(60, 60, 60);
    z-index: 1;
}
.bal{
      border-radius: 50%;
   /* background-color: aqua; */
    height: 45px;
    width: 55px; 
    font-size: 30px;
    position: relative;
    top: 350px;
    left: 800px;
    animation: bal 3s infinite linear;
    animation-play-state : running;
    z-index: 2;
}
@keyframes bal{
    0% {transform: translate(0,0);}
    100% {transform: translate(-800px, -200px);    }
}
h3{
    padding:5px;
    padding-top: 50px;
    color: rgb(230, 60, 60);
}